:root {
  --principal-purple: #5e227f;
  --secondary-purple: #7c43bd;
  --light-purple: #b19cd9;
  --dark-purple: #4a148c;
  --white: #ffffff;
  --light-gray:  #f3f3f3;
  --black: #000000;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --xl: 24px;
}
body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}